<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/public/css/forms.css">
<link rel="stylesheet" href="/public/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <form class="product-form" action="/admin/<%= editing? 'edit-product?edit=true' : 'add-product'%>" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= editing ? product.title : ''%>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= editing ? product.imageUrl : '' %>">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" value="<%= editing ? product.price : '' %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"><%= editing ? product.description : '' %></textarea>
        </div>

        <button class="btn" type="submit"><%= editing ? 'Update Product' : 'Add Product' %></button>
        <% if (editing) {%><input type="hidden" name = "productId" value="<%=product.id%>"> <% } %>
    </form>
</main>
<%- include('../includes/end.ejs') %>